.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.clientsSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

}

.icons {
    width: 80%;
}

.title {
    font-size: 2em;
    font-weight: 600;
}
