.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.customersSection {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    background-color: var(--neutral-silver-color);
    flex-wrap: wrap;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.textContainer {
    margin-top: 20px;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    color: var(--neutral-grey-color);
    flex-wrap: wrap;
}

.customersSection > img {
    width: 320px;
}

.customerName {
    font-weight: 600;
    color: var(--green-color-shade);
    font-size: 19px;
}

.link a {
    text-decoration: none;
    font-weight: 600;
    color: var(--green-color-shade);
}

@media screen and (max-width: 732px) {
    .textContainer {
        padding-left: 100px;
        padding-right: 100px;
    }
}