.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.learnMoreSection {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.textContainer {
    width: 500px;
    align-self: flex-start;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.learnMoreSection > img {
    width: 400px;
}

.title {
    font-size: 2em;
    font-weight: 600;
}

.btn {
    background-color: var(--primary);
    color: white;
    padding: 13px 20px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: linear 0.4s;
}

.btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 570px) {
    .textContainer {
        padding-left: 50px;
        padding-right: 50px;
    }
}